* {
  font-family: "Baskervville", serif;
}
/******************************* MOBILE HEADER  *******************************/
#large-header-wrapper {
  display: none;
}

.fa-bars {
  font-size: 13vw;
  padding-top: 15px;
}

/******************************* MOBILE SIDE MENU  *******************************/
.mobile-side-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 0%;
  transition: 3s;
  background-color: black;
  margin: 0;
  padding: 0;
}

.mobile-side-menu ul {
  margin: 0;
  padding: 0;
}

.mobile-side-menu ul li {
  list-style: none;
  text-align: center;
  padding-top: 8%;
}

.mobile-side-menu ul li a {
  color: white;
  font-size: 6.5vw;
}

.mobile-side-menu ul li i {
  color: white;
  font-size: 10vw;
  padding: 20px 10px 0 10px;
}

.mobile-side-menu-active {
  display: block;
  width: 100%;
  transition: 3s;
}

/******************************* LARGE HEADER *******************************/
@media only screen and (min-width: 768px) {
  #mobile-header-wrapper,
  #mobile-side-menu {
    display: none;
  }

  #large-header-wrapper {
    display: block;
    text-align: right;
  }

  #large-header-wrapper ul {
    margin: 0;
    padding: 0;
  }

  #large-header-wrapper ul li {
    display: inline;
  }

  #large-header-wrapper ul li a {
    color: black;
    padding-left: 10px;
    text-decoration: none;
  }

  #large-header-wrapper ul li a:hover {
    color: grey;
  }
}

/******************************* MAIN SECTION *******************************/
#main-section p {
  margin: 0;
}
/******************************* ABOUT SECTION *******************************/
#about-section h1 {
  text-align: center;
}
/******************************* WORK SECTION *******************************/
#work-section h1 {
  text-align: center;
}

#work-section {
  padding-bottom: 10vh;
}
/******************************* BLOG SECTION *******************************/

/******************************* CONTACT SECTION *******************************/
#contact-section h1 {
  text-align: center;
}

/******************************* FOOTER *******************************/

#footer {
  width: 100%;
  background-color: black;
  color: white;
}

#footer h6 {
  font-weight: bold;
  margin: 0;
}

#footer p {
  margin: 0;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#footer ul li a {
  color: white;
}

#footer ul li a:hover {
  color: grey;
}
